.grupo-botoes {
    width: 250px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 300px !important;
    border-radius: 1rem;
}
.finalizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.finalizacao-titulo {
    font-size: 1.3rem;
}

@media screen and (min-width: 700px) {
    .container {
        width: 600px !important;  
    }
    .grupo-botoes {
        width: 550px;
    }
}

