body {
    font-family: 'Akronim', cursive;
    background-color: rgb(0, 30, 60);
}

.container-principal{
    height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    color: white;
}